.sample-project {
    background: #EEF1F5;
    box-shadow: 3px 3px 6px #cacdd0,
        -3px -3px 6px #ffffff;
}

.sample-project-inner {
    background: linear-gradient(145deg, #ffffff, #d6d9dd);
    box-shadow: 2px 2px 4px #cacdd0,
        -2px -2px 4px #ffffff;
}