.sample-project {
    background: #EEF1F5;
    box-shadow: 5px 5px 20px #cacdd0,
        -5px -5px 20px #ffffff;
}

.sample-project-inner {
    background: linear-gradient(145deg, #ffffff, #d6d9dd);
    box-shadow: 5px 5px 10px #cacdd0,
        -5px -5px 10px #ffffff;
}