.banner-me-shadows {
    border-radius: 50%;
    background: linear-gradient(225deg, #ffffff, #d6d9dd);
    box-shadow: -20px 20px 60px #cacdd0,
        20px -20px 60px #ffffff;
    width: fit-content;
}

.banner-me-img {
    border-radius: 50%;
    background: #EEF1F5;
    box-shadow: inset -20px 20px 60px #cacdd0,
        inset 20px -20px 60px #ffffff;
}

.banner-me-img .overlay {
    position: absolute;
    z-index: 1;
    inset: 5%;
    border-radius: 50%;
    background: linear-gradient(225deg, #d6d9dd, #ffffff);
    box-shadow: -20px 20px 60px #cacdd0,
        20px -20px 60px #ffffff;
}

.learn-more-button-container-light {
    background: linear-gradient(225deg, #677ea1, #566a87);
    box-shadow: -4px 4px 8px #C8CDD8,
        4px -4px 8px #ffffff;
}

.learn-more-button {
    background: linear-gradient(225deg, #ffffff, #d6d9dd);
    box-shadow: -5px 5px 10px #cacdd0,
        5px -5px 10px #ffffff;
}

.experience-section {
    background: #EEF1F5;
    box-shadow: -8px 8px 16px #cacdd0,
        8px -8px 16px #ffffff;
}

.experience-inner {
    background: linear-gradient(225deg, #ffffff, #d6d9dd);
    box-shadow: -8px 8px 16px #cacdd0,
        8px -8px 16px #ffffff;
}

.learn-more-button-container-dark {
    background-image: linear-gradient(32deg, #6f90ee, #E3E9EA);
    width: fit-content;
    box-shadow: -3px 3px 6px #7e94d3;
}

.learn-more-button-container-dark:hover {
    box-shadow: -6px 6px 12px #7e94d3;
    transform: translateY(-3px);
    transition: all 0.3s ease;
}